body {
  margin: 0px;
  overflow: visible;
}

.buttons {
  position: absolute;
  z-index: 10;
  display: flex;
  margin-left: 50%;
  justify-content: center;
  text-align: center;


}
.cube,.cylinder,.cone,.sphere{
  background: blue;
  color: white;
  border: none;
  font-size: 1em;
  font-weight: 900;  padding: 10px;
}