body {
  margin: 0px;
  overflow: visible;
}

.buttons {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  text-align: center;

}
.cube{
  background:#0ee7b2;
  color: white;
  border: none;
  z-index: 10;
  font-size: 1em;
  font-weight: 900;  
  padding: 10px;
  margin-left: 40%;

}

.cylinder,.cone,.sphere{
  color: white;
  border: none;
  font-size: 1em;
  font-weight: 900;  
  padding: 10px;

}
.cylinder{
  background: #7510b5;
}
.cone{
  background:#dde318;
}
.sphere{
  background: #e70e3b;
}